# Set environment variables here
path="/path/to/the/folder"
timelineDir="$path/.csv/timeline"
statsFile="$timelineDir/$today.csv"
# Define your goals here
caloriesGoal=2900
proteinGoal=140
carbsGoal=385
fatsGoal=75
waterGoal=3000
